## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[50, 0, 60, 78, 20, 22, 98, 81, 61, 56, 31, 2, 62, 64, 26, 27, 15, 3, 36, 71, 59, 57, 46, 25, 35, 7, 41, 75, 77, 34, 10, 28, 23, 74, 37, 53, 86, 17, 70, 94, 69, 93, 32, 19, 43, 72, 96, 88, 14, 55, 73, 87, 39, 52, 92, 49, 97, 11, 90, 79, 83, 76, 45, 82, 29, 89, 30, 5, 54, 24, 33, 40, 8, 47, 91, 42, 4, 84, 21, 12]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
sample_list_1 =[82, 7, 58, 55, 15, 81, 41, 48, 83, 27, 32, 26, 14, 80, 43, 75, 76, 71, 88, 61, 86, 4, 78, 97, 96, 46, 52, 92, 94, 8, 56, 69, 87, 35, 33, 59, 13, 9, 67, 89, 2, 68, 30, 72, 21, 36, 5, 98, 85, 3, 57, 12, 64, 53, 31, 77, 70, 34, 38, 17, 93, 42, 73, 74, 44, 45, 90, 40, 63, 22, 10, 62, 49, 54, 11, 16, 47, 23, 19, 1]
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 26, 27, 30, 31, 32, 33, 34, 35, 36, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
sample_list_2 = random.sample(range(100), k=80)
print(sample_list_2)

[10, 1, 23, 78, 5, 6, 69, 87, 13, 95, 32, 83, 21, 59, 30, 22, 66, 45, 54, 85, 58, 63, 62, 46, 47, 96, 72, 84, 55, 19, 16, 40, 14, 18, 9, 70, 20, 88, 71, 91, 31, 86, 17, 61, 48, 0, 51, 38, 64, 81, 57, 74, 93, 37, 92, 67, 89, 29, 7, 28, 52, 68, 8, 99, 41, 44, 73, 25, 26, 42, 15, 33, 2, 75, 76, 65, 3, 79, 82, 35]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
set2= set(sample_list_2)
print(set2)
print(len(set2))
# me da todo el tiempo error, los conjuntos no aceptan duplicados, seguro es eso pero nose como verificarlo.

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 29, 30, 31, 32, 33, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 51, 52, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 99}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
diferencia = set1 - set2
print(diferencia)
set3 = diferencia

{97, 34, 98, 4, 36, 11, 12, 43, 77, 80, 49, 53, 56, 90, 27, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
diferencia2 = set2 - set1
print(diferencia2)
set4 = diferencia2

{0, 65, 66, 99, 37, 6, 79, 18, 51, 20, 84, 25, 91, 28, 29, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
interseccion = set1 & set2
print(interseccion)
set5 = interseccion

{1, 2, 3, 5, 7, 8, 9, 10, 13, 14, 15, 16, 17, 19, 21, 22, 23, 26, 30, 31, 32, 33, 35, 38, 40, 41, 42, 44, 45, 46, 47, 48, 52, 54, 55, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 81, 82, 83, 85, 86, 87, 88, 89, 92, 93, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
len(set5)

80
80
16
16

64

In [19]:
set1 >= set2

False

In [22]:
set2 != set4

True

In [25]:
set1 == set5

False

#### Create an empty set called `set6`.

In [26]:
sample_list_6 = random.sample(range(100), k=80)
print(sample_list_6)

[94, 57, 23, 48, 65, 46, 35, 2, 84, 86, 63, 83, 76, 51, 78, 20, 26, 49, 31, 82, 34, 44, 66, 73, 87, 7, 75, 47, 98, 12, 45, 14, 32, 55, 4, 54, 80, 52, 21, 33, 67, 38, 68, 91, 77, 11, 96, 56, 6, 40, 29, 42, 27, 3, 70, 0, 22, 90, 81, 17, 41, 60, 93, 43, 50, 85, 28, 8, 24, 9, 5, 36, 16, 13, 59, 10, 15, 88, 18, 39]

In [27]:
sample_list_1 =[94, 57, 23, 48, 65, 46, 35, 2, 84, 86, 63, 83, 76, 51, 78, 20, 26, 49, 31, 82, 34, 44, 66, 73, 87, 7, 75, 47, 98, 12, 45, 14, 32, 55, 4, 54, 80, 52, 21, 33, 67, 38, 68, 91, 77, 11, 96, 56, 6, 40, 29, 42, 27, 3, 70, 0, 22, 90, 81, 17, 41, 60, 93, 43, 50, 85, 28, 8, 24, 9, 5, 36, 16, 13, 59, 10, 15, 88, 18, 39]
set6 = set(sample_list_1)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 59, 60, 63, 65, 66, 67, 68, 70, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 96, 98}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [29]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [30]:
set1.issubset(set2)

False

In [31]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [32]:
new_set = set3.union(set4)
print(new_set)

{0, 65, 66, 4, 6, 11, 12, 77, 79, 80, 18, 20, 84, 25, 90, 27, 91, 28, 94, 29, 95, 97, 34, 98, 36, 99, 37, 43, 49, 51, 53, 56}

In [33]:
set7 = new_set.union(set5)
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [34]:
set8 = set7.union(set1)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [35]:
set_definitivo = set8.union(set2)
print(set_definitivo)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [42]:
eliminado = set1.pop()
print(eliminado)
print(set1)

1
{2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 21, 22, 23, 26, 27, 30, 31, 32, 33, 34, 35, 36, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [46]:
eliminados = set1..discard([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
print(eliminados)
print (set1)

SyntaxError: invalid syntax (3079010642.py, line 1)